<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Musicservice">

        <activity android:name=".MainActivity"
            android:exported="true"> <!-- intent할 때 액티비티 구성요소가 다른 앱에서 접근 하도록 지정  -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MusicService"
            android:enabled="true" /> <!-- 중복 선언 제거 및 android:exported="true" 명시 -->


    </application>
</manifest>
